<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        {% include common-head.html %}
        {% include head-icons-rel.html %}
        <link rel="stylesheet" href="{{ "/statics/css/blog.css" | prepend: site.base_path | replace:'//','/' }}">
        <style>
            {% if page.picture_frame == 'shadow' %}
                .m-article-content img {
                    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
                }
            {% endif %}
        </style>
        <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		
   <!-- Hit Kounter LC 浏览量-->
   <!-- <script src="https://cdn1.lncld.net/static/js/av-min-1.5.0.js"></script>
    <script src="https://jerry-cdn.b0.upaiyun.com/hit-kounter/hit-kounter-lc-0.3.0.js"></script>-->
   <!-- Hit Kounter LC 浏览量-->
		
    </head>
    <body>
	
        <div class="m-page-stage js-page-stage">
            {{ content }}
        </div>
        {% include blog/footer.html %}
        <script>
            $(function() {
                // display coding language //
                $(".highlight").each(function() {
                    $(this).attr("data-lang", $(this).find("code").attr("data-lang"));
                });
            });
        </script>
        {% if site.isdebug == false %}
            {% include utils/google-analytics.html %}
        {% endif %}
		<!--CNZZ-->
		<div style="display: none;"><script src="https://s22.cnzz.com/z_stat.php?id=1266101458&web_id=1266101458" language="JavaScript"></script></div>
		<!--CNZZ-->
		
    </body>
</html>
